html {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  box-sizing: border-box;
}
/*nav section*/
a {
  color: blue;
}

.navbar-default .navbar-header > a {
  color: #399bd1;
}

.navbar-default .navbar-nav > .active > a {
  font-weight: bold;
}

.navbar-default .navbar-nav > .active > a:hover {
  color: black;
}

@media only screen and (max-width: 770px) {
  .logo img {
    display: none;
  }

}

/*jumbotron section*/
.jumbotron {
  background: url("../images/jumbotron-bike.jpg") no-repeat center center;
  background-size: cover;
  height: 35.55rem;
  text-align: center;
  display: flex;
  align-items: center;
}

.jumbotron.jumbotron-bike p {
  width: 51.3rem;
  text-align: center;
  color: white;
  margin: 0 auto;
}

.jumbotron h1 {
  font-size: 7.1rem;
  text-shadow: -1px -1px 0 #000;
  color: white;
}

@media only screen and (max-width: 450px) {
  .jumbotron {
    background-size: 100%;
  }

  .jumbotron .container h1 {
    font-size: 2.7rem;
  }

  .jumbotron .container p {
    font-size: 1.2rem;
    width: 100%;
  }
}
/*Featured project*/
@media only screen and (max-width: 450px) {
  .Featured-project .image-container img {
    width: 100%;
  }

  #documentary {
    width: 50%;
  }
}
/*Projects*/
@media only screen and (max-width: 450px) {
  #project1, #project2, #project3 {
    width: 100%;
  }
}

/*help section*/
footer {
  height: 20.8rem;
  background-color: #f3f3f3;
  display: flex;
  text-align: center;
  align-items: center;
}

.container-fluid.help p {
  width: 42rem;
}
